---
import App from '../components/App.tsx';
import '../index.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aura Dental</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
